*{
    padding:0;
    margin:0;
    border:0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    list-style-type: none;
}
nav{
     display:flex;
    align-items: center;
    justify-content: space-between;
    background:#fff;
    padding: 1px 1%;
    position: sticky; 
    top:0;
    z-index: 100;
}
.nav-left img{
padding-top: 10px;
margin-left: 30px;
margin-top: 20px;
max-width: 100%;
vertical-align: middle;
padding-bottom: 10px;
}
.nav-right img{
 right: 0;
 top: 0px;
z-index:100000 ;
max-width: 50%;
position: fixed;
}

.center {
    display:inline-block;
     cursor:pointer;
     border-radius: 20px;
      padding: 5px 15px 5px 15px;
     padding-left: 600px;
     padding-top: 40px;
     max-width: 100%;
     border:0px;
    
}
  body {
    width:100%;
    padding:50px 50px ;
    background-position:right;
    background-repeat: no-repeat;
    background-size: auto 70%;
    position:relative;
    background-image:url(Door\ images/backgroundimg.png) ;
    height: 550px;

}

.search-box,select{
        background: #117bb7;
        font-size: 13px;
        border-radius: 20px;
        display:block;
        align-items:center;
        padding: 5px 5px 5px 5px;     
        color: #fff;
        padding-left: 13px;
        height:auto;
        background-clip: padding-box;
    
}
option{
background-color: #fff;
 color:black ;  
}
.left-container img{
    flex:75%;
    width:60%;
    padding-top: 0px;
    margin-left: 10px;
}


.right-container{
       display:flex;
        width:80%;
        background-color: #117bb7;
        border-radius: 10px;
        position:absolute;
        top:30%;   
         padding:30px 20px;    
        right:2%;
        height: 450px;
        z-index: 2%;   
        width:30%;
        border: 10px;
        }
 .main-content{
    margin:10px;
    border:10px;
 }       
.right-container h3{
    font-size: 18px;
    color:#fff;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    vertical-align: baseline;
    list-style-type: none;
}
  input::placeholder{
    background-color: #fff;
    color: black;
    padding-top: 0%;   
  }
.search-box1{
    border:5px solid   #fff;
    border-radius: 20px;
    background-color:#fff;
    padding-left: 0px;
    font-size: 14px;
    margin:10px;
}
.search-box2{
    border:5px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    padding-left: 0px;
    font-size: 14px;
    margin:10px;
    
} .search-box3{
border:5px solid #fff;
border-radius: 20px;
background-color: #fff;
color: #fff;
padding-left: 0px;
font-size: 14px;
margin:10px;
}
.search-box4{
border:5px solid #fff;
border-radius: 20px;
background-color:#fff;
padding-left: 0px;
font-size: 14px;
margin: 10px;
}
 input{
    width: 225px;
 }
 
 
  label {
    font-size: 11px;
    color: #fff;
    
 }
  #check-box{
    padding-right:10;
   accent-color: #30b87d;
    float: left;
    margin-left: -1.5em;
}
 div{
    button{
     font-size: 15px;
    text-align: center;
    min-width:inherit;
    padding:13px 30px;
    border-radius: 35px;
    line-height: normal;
    letter-spacing: 0.05em;
    color:#fff;
    background-color: #132a37;
    margin-top: 10px;;

 } 
}
 .ourproduct {
     display:flex;
     justify-content: center;
     align-items: center;
     place-items: center;
     padding-top: 25px;

 }
    h1{
    font-size: 22PX;
    color: #117bb7;
   }
   a {
        padding-left: 600px;
        margin-top: 20px;
          font-size:large;
         color: #117bb7;
    
   }
 .last-content{
    margin-top: 20px;
 }
 
.last-content img{
    width: 33%;
    padding-left: 15px;
    border-radius:15px ;
}


.footer{
    height:60px;
    width:100%;
    background-color:#f4f4f4;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 10px;
    justify-content:center;
    color: #3b5998;
    position: relative;
    
}
.footer-icons{
 position: absolute;
 bottom: 0;
 right: 0;
 display: inline-block;
 color: #3b5998;
 font-size: inherit;
 text-rendering: auto;
    
}

    



